/*
!README.md
!.gitignore

# bemenu
!bemenu/

# btop
!btop/
btop/*
!btop/btop.conf

# cava
!cava/

# VS Code
!Default.code-profile

# dunst
!dunst/

# fish
!fish/

# hyfetch
!hyfetch.json

# Hyprland & Co.
!hypr/

# kitty
!kitty/

# lazygit
!lazygit/
lazygit/*
!lazygit/config.yml

# mpv
!mpv/

# nushell
!nushell/
nushell/*
!nushell/config.nu
!nushell/env.nu

# NeoVim (NVIM_APPNAME=nvim-vscode)
!nvim-vscode/

# nwg-bar
!nwg-bar/

# swaylock-effects
!swaylock/

# tofi
!tofi/

# tree-sitter
!tree-sitter/
tree-sitter/*
!tree-sitter/config.json

# Vimium C
!vimium_c.json

# Waybar
!waybar/
