/*
!README.md
!.gitignore

# alacritty
!alacritty/

# blugon
!blugon/
blugon/current

# btop
!btop/btop.conf

# cava
!cava/

# VS Code
!Default.code-profile

# dunst
!dunst/

# fish
!fish/

# foot
!foot/

# hyfetch
!hyfetch.json

# Hyprland & Co.
!hypr/

# i3
!i3/

# i3status
!i3status/

# kitty
!kitty/

# lazygit
!lazygit/config.yml

# mpv
!mpv/

# nushell
!nushell/config.nu
!nushell/env.nu

# NeoVim (NVIM_APPNAME=nvim-vscode)
!nvim-vscode/

# nwg-bar
!nwg-bar/

# Sway
!sway/

# swaylock-effects
!swaylock/

# tofi
!tofi/

# Vimium C
!vimium_c.json

# Waybar
!waybar/
