@define-color bg rgba(34, 36, 54, 1);
@define-color bg-transparent rgba(34, 36, 54, 0.66);
@define-color fg #FFF;
@define-color dark #1e2030;

@define-color light-blue #82aaff;
@define-color light-blue-transparent rgba(130, 170, 255, 0.66);
@define-color green #82bf1f;
@define-color red #d12642;
@define-color transparent rgba(0, 0, 0, 0);

* {
  all: initial;
  background: none;
  color: @fg;
  margin: 0;
  padding: 0;

  font-family: "Symbols Nerd Font Mono", "Unifont", monospace;
  font-size: 16px;
}

window#waybar * {
  border-radius: inherit;
}

.modules-center,
tooltip,
#tray menu {
  background: @bg-transparent;
}

.modules-center {
  margin: 0 4px;
  padding: 0 4px;
}

tooltip,
#tray menu {
  margin: 8px 12px;
  padding: 8px 12px;
}

.modules-center {
  background: @bg-transparent;
  color: @fg;
}

.modules-center * {
  color: @fg;
}

window#waybar.empty .modules-center {
  background: @transparent;
}

tooltip,
#tray menu {
  transition: border-color 200ms ease-in;
  border: 1px solid @light-blue;
}

#tray menu > * {
  transition:
    opacity 200ms ease-in,
    color 200ms ease-in;
}

#tray menu > * > * {
  transition: inherit;
}

#tray menu > *:hover {
  opacity: 0.8;
  color: @light-blue;
}

#tray menu > *:hover > * {
  color: @light-blue;
}

#workspaces button {
  padding: 0 8px;
  transition: all 100ms ease-in;
  background: @light-blue-transparent;
}

#workspaces button.active,
#workspaces button.urgent,
#workspaces button:hover {
  background: @bg-transparent;
}

#workspaces button.active,
#workspaces button.active label {
  color: @light-blue;
}

#workspaces button.urgent,
#workspaces button.urgent label {
  color: @red;
}

#workspaces button:hover,
#workspaces button:hover label {
  color: @green;
}

#idle_inhibitor {
  padding: 0 8px;
}

#idle_inhibitor.activated {
  background: @light-blue;
  color: @dark;
}

#cava {
  min-height: 24px;
  min-width: 108px;
  color: @light-blue;
}
