@define-color bg rgba(34, 36, 54, 1);
@define-color bg-transparent rgba(34, 36, 54, 0.66);
@define-color fg #FFF;
@define-color dark #1e2030;

@define-color light-blue #82aaff;
@define-color light-blue-transparent rgba(130, 170, 255, 0.66);
@define-color green #82bf1f;
@define-color red #d12642;
@define-color transparent rgba(0, 0, 0, 0);

* {
  all: initial;
  background: none;
  color: @fg;
  margin: 0;
  padding: 0;

  font-family: "Symbols Nerd Font Mono", "Andika", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

window#waybar {
  border-radius: 4px;
}

window#waybar * {
  border-radius: inherit;
}

.modules-left {
  padding-left: 8px;
}

.modules-left,
.modules-center,
.modules-right,
tooltip,
#tray menu {
  background: @bg-transparent;
}

.modules-center {
  margin: 0 4px;
  padding: 0 4px;
}

tooltip,
#tray menu {
  margin: 8px 12px;
  padding: 8px 12px;
}

.modules-center {
  background: @light-blue-transparent;
  color: @dark;
}

.modules-center * {
  color: @dark;
}

window#waybar.empty .modules-center {
  background: @transparent;
}

.modules-right {
  padding-right: 8px;
}

.modules-left,
.modules-right,
tooltip,
#tray menu {
  transition: border-color 200ms ease-in;
  border: 1px solid @light-blue;
}

#tray menu > * {
  transition:
    opacity 200ms ease-in,
    color 200ms ease-in;
}

#tray menu > * > * {
  transition: inherit;
}

#tray menu > *:hover {
  opacity: 0.8;
  color: @light-blue;
}

#tray menu > *:hover > * {
  color: @light-blue;
}

#workspaces button {
  padding: 0 8px;
  transition: all 100ms ease-in;
}

#workspaces > :not(:first-child):not(:last-child),
#workspaces > :not(:first-child):not(:last-child) > button {
  border-radius: 0;
}

#workspaces > :first-child,
#workspaces > :first-child > button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#workspaces > :last-child,
#workspaces > :last-child > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#workspaces button.active {
  background: @light-blue;
  color: @dark;
}

#workspaces button.active label,
#workspaces button:hover label {
  color: @dark;
}

#workspaces button.urgent {
  background: @red;
}

#workspaces button:hover {
  background: @green;
}

#idle_inhibitor {
  padding: 0 8px;
  border-radius: 0;
}

:first-child > #idle_inhibitor {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:last-child > #idle_inhibitor {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#idle_inhibitor.activated {
  background: @light-blue;
  color: @dark;
}

#cava {
  font-size: 11pt;
  min-height: 24px;
  min-width: 108px;
  color: @light-blue;
}
