window {
        background-color: transparent;
        font-family: "Unifont", monospace;
        font-size: 16px;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: rgba (0, 0, 0, 0.3);
	border-style: none;
	border-width: 1px;
    border-radius: 0;
	border-color: rgba (156, 142, 122, 0.5);
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
    border-radius: 0;
}

button:hover {
	background-color: rgba (255, 255, 255, 0.1)
}
